@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caesar Dressing";
}



section::before{
    content: "";
    position: fixed;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(images/bg.png);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  opacity: 0.5;
}


header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    width: 200px;
    height: auto;
}

header .navigation a{
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 15px;
    border-radius: 10px;
    transition: 0,3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: rgb(211, 81, 64);
    color: #fff;
}

.content{
    max-width: 650px;
    margin: 200px 200px;
}

.content .info h2{
    color: rgb(211, 81, 64);
    font-size: 120px;
    font-weight: 800;
    letter-spacing: 20px;
    line-height: 100px;
    margin-bottom: 30px;
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

@media (max-width: 720px){
    header .navigation{
        display: none;
    }
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0,3s;
        transition-property: color;
    }
    label:hover{
        color: rgb(211, 81, 64);
    }

    label .close-btn{
        display: none;
    }

    #check:checked ~header .navigation{
        z-index: 2;
        position: fixed;
        background: #a8d1ffef;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }



}

@media (max-width: 560px){

    .logo{
        width: 170px;
        height: auto;
    }
    
    .content{
        max-width: 650px;
        margin: 120px 140px;
    }

    .content .info h2{
        font-size: 150px;
        line-height: 70px;
    }

}